{% extends "base.html" %}

{% block main%}
<div class="container-fluid">
	<div class="starter-template">
		<h1>Edc: Extra Data</h1>
		<p class="lead">This site stores additional data gathered for the BCPP project.</p>
		<ul class="nav nav-pills nav-stacked">
			<li><a href="/bhssubject/">BHS Subjects</a></li>
			<li><a href="#">PIMS/RDB</a></li>
			<li><a href="#">PIMS</a></li>
			<li><a href="#">IPMS</a></li>
			<li><a href="{% url 'import_history' %}">Import History</a></li>
		</ul>
	</div>
</div>
{% endblock %}
